@import "../../../src/scss/variables";
@import "../../../src/scss/methods";

main.gallery {
  align-items: center;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  div {
    display: inline-block;
    flex: 1 1 50%;
    line-height: 0;
    padding: .5rem;

    @include min($tablet) {
      flex: 1 1 33%;
    }

    a {
      border: 1px solid $black;
      display: inline-block;
      line-height: 0;
    }

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
