@import "../../scss/methods";
@import "../../scss/variables";

main.raid {
  nav.submenu ul {
    list-style: none;
    margin: 1rem auto;
    padding: 0;
    text-align: center;

    li {
      display: inline;

      &:not(:last-of-type) {
        margin-right: .5rem;
      }
    }
  }

  details {
    summary {
      border: 0;
      outline: none;
      cursor: pointer;
      font-size: 19px;
      font-size: 1.1875rem;

      @include min($tablet) {
        font-size: 24px;
        font-size: 1.5rem;
      }

      h3 {
        display: inline-block;
      }
    }
  }

  dl {
    display: flex;
    flex: 1;
    flex-wrap: wrap;

    dt, dd {
      box-sizing: border-box;
      margin: 0;
      padding: 1rem 0;
      vertical-align: top;

      @include min($tablet) {
        display: inline-block;
      }
    }

    dt {
      @include min($tablet) {
        width: 30%;
      }
    }

    dd {
      @include min($tablet) {
        width: 70%;
      }
    }
  }

  ul {
    @include min($tablet) {
      margin: 0;
    }
  }

  a img {
    margin-right: .25rem;
    vertical-align: middle;
  }
}

section.video {
  border-top: 1px solid $gray;
  margin: 1rem 0;
  padding: 1rem 0;

  div {
    iframe {
      display: block;
      height: 11.25rem;
      margin: 0 auto;
      width: 20rem;

      @include min($tablet) {
        height: 19.25rem;
        width: 35rem;
      }
    }
  }
}

div.model {
  img {
    max-width: 100%;
  }
}

nav.pagination {
  border: 1px solid $gray;
  border-left: 0;
  border-right: 0;
  margin: 1rem 0;
  padding: 1rem 0;

  ul {
    display: flex;
    flex: 2;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      width: 50%;

      &.next {
        text-align: right;
      }
    }
  }
}
