main > figure {
  margin: 0;
  max-width: 48em;
}

main > figure > figcaption {
  display: block;
}

header > figure {
  display: inline-block;
  margin: 0;
  padding: 0;
}

header > figure > img {
  display: inline-block;
  margin-right: 1em;
}

header > figure > figcaption {
  display: inline-block;
  vertical-align: top;
}
