::-moz-selection { background-color: $purple; color: $white; }
::selection { background-color: $purple; color: $white; }

.visually-hidden {
  @include govuk-visually-hidden();
}

.block {
  display: block;
}
